.imagess{
    background-color: aqua;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


#imgWidth{
    width:100%;
}

#base{
    max-width:800px}